@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes twinkle {
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}